/build/
**/build/
/bin/
.gradle
.idea/
out/
.classpath
.project
/.settings/
.DS_Store

**google-squash-project.json**
**clublocker-creds.json**

# Terraform local and private data
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
infra/backend.hcl
infra/private.env
infra/private.env.tpl
crash.log
crash.*.log
