
<Configuration status="INFO" shutdownHook="disable" packages="com.gemstone.gemfire.internal.logging.log4j,log4j.extensions">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="STDOUT" />
    </Root>
    <Logger name="com.parmet.squashlambdas" level="INFO" additivity="false">
      <AppenderRef ref="STDOUT" />
    </Logger>
  </Loggers>
</Configuration>
